*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  font-family: 'Rubik', sans-serif;
}

.container, .category-pic {
  width: 65%;
}
/* 標籤列（dropdown menu）----------------------------------- */
.head-bg {
  background-color: #fff;
  width: 100%;
  height: 100px;
  position: fixed;
  left: 0;
}

.head{
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 65%;
  height: 100px;
}

.head img {
  width: 100%;
}

.head-nav {
  position: relative;
}

.head-nav ul {
  display: flex;
}

.head-nav ul li {
  padding:30px  20px ;
}

.head-nav ul li a,
.head-icon a {
  text-decoration: none;
  color: black;
}

.category {
  display: flex;
  position: absolute;
  top: 60px;
  left: 20px;
  width: 500px;
  height: 320px;
  box-shadow: 5px 10px 15px rgba(0, 0, 0, .4);
  background: #fff;
  display: none;
}

.category-pic {
  position: absolute;
  top: 180px;
  left: 10px;
  width: 95%;
}

.category div ul {
  flex-direction: column;
  text-align: left;
  margin: 10px 30px 5px 0px;
}

.category div ul li {
  padding: 10px 25px;
}

.category-cat ul li a:not(.first),
.category-dog ul li a:not(.first),
.category-fish ul li a:not(.first){
  color: rgb(144, 144, 144);
}

/* category hover 的時候 顯示隱藏選項 */
.category-li:hover+.category{
  display: flex;
}

.category:hover {
  display: flex;
}

.category div ul li a:hover {
  color: rgb(78, 78, 78);
}

i {
  margin: 0 7px;
}
/* 輪播圖 -----------------------------------------------*/
.slide-img {
  margin-top: 100px;
}

/* 五個圈圈 ---------------------------------------------*/
.five-circle {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}

.circle {
  position: relative;
  cursor: pointer;
}

.circle img{
  width: 100%;
}

.circle::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 80%;
  border: 2.5px dashed #000;
  border-radius: 50%;
}

.under-circle-title {
  width: 100%;
  height: 40px;
  border-radius: 20px;
  background-color: #f0a83e;
  color: white;
  text-align: center;
  font-size: 1.1rem;
  line-height: 40px;
  font-weight: bold;
  position: relative;
  top: -25px;
  cursor: pointer;
  transition: .5s;
}

.under-circle-title:hover {
  background-color: #3c2313;
  transform: translateY(-10px);
}

.circle:hover::before {
  animation: circleRotate 10s linear infinite;
}

.circle:hover .under-circle-title {
  transition: .5s;
  transform: translateY(-10px);
}

/* 圓圈下的按鈕-------------------------------------------- */
.btn-circle-left-right {
  text-align: center;
}

.btn-circle-left-right input {
  margin: 0 5px;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  background: #3c2313;
  color: white;
  cursor: pointer;
}

.btn-circle-left-right input:hover {
  transition: .3s;
  background: #f0a83e;
}
/* About Us ------------------------------------------------- */
.display-flex {
  display: flex;
  flex-wrap: wrap;
}

.about-us {
  text-align: center;
  margin: 50px 0;
  width: 100%;
}

.about-container {
  display: flex;

}

.about-us h1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-top: 20px;
}

.about-text {
  margin-right: 50px;
}

.about-text h2{
  font-size: 2rem;
  font-weight: 600;
  margin: 55px 0 20px 0;
}

.about-text p {
  line-height: 1.5;
  color: rgb(97, 97, 97);
  margin-bottom: 40px;
}

.about-text input {
  width: 150px;
  height: 40px;
  border: none;
  border-radius: 20px;
  background-color: #f0a83e;
  color: white;
  font-size: 1rem;
  line-height: 40px;
  font-weight: 600;
  cursor: pointer;
  transition: .5s;
}

.about-text input:hover {
  background-color: #3c2313;
}

.about-4term {
  display: flex;
  flex-wrap: wrap;
}

.smog-term {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-right: 50px;
}

.smog-term:hover>.smog-term-text h4 {
  transform-origin: left;
  transform: scaleX(1.05);
  transition: .4s;
}

.smog-term img {
  margin-right: 10px;
}

.about-pic {
  cursor: pointer;
  position: relative;
  width: 570px;
  height: 450px;
  background-color: rgba(0, 0, 0, 0.849);
}
