@media (max-width: 767px) {
  /* 標籤列---------------- */
  .head-nav {
    display: none;
  }

  .head{
    justify-content: center;
  }

  .head-icon a {
    position: absolute;
    font-size: 35px;
    top: 50%;
    transform: translateY(-50%);
    right: -90px;
  }

  .head-icon a:first-child {
    left: -50px;
  }

  .head-icon a:nth-child(2) {
    right: -30px;
  }

  .slide-img img {
    width: 100%;
  }

  /* 5個圓圈------------------------------------ */
  .five-circle {
    margin-top: 50px;
  }

  .circle {
    margin:0 30px;
  }
  .circle img {
    width: 185px;
  }

  .sm-container {
    height: 400px;
    overflow: hidden;
  }

  /* about us ---------------------------------- */
  .about-us {
    margin-top: 0px;
  }

  .about-container {
    flex-direction: column;
  }

  .about-pic {
    order: 1;
  }

  .about-pic img {
    width: 100%;
  }

  .black1 {
    display: none;
  }

  .about-text {
    order: 2;
    width: 100%;
    text-align: center;
  }

  .about-4term {
    order: 3;
    justify-content: center;
  }
  
  .smog-term {
    margin-right: 50px;
    display: inline-block;
  }

  .smog-term:nth-child(2),
  .smog-term:nth-child(4) {
    margin-right: 0;
  }

  /* trending products---------------------- */
  .trending-products ul li{
    display: block;
  }

  .trend-hover-btn {
    display: flex;
    top: 200px;
  }

  .trend-btn{
    margin-left: 5px;
  }

  .trend-8-box {
    width: 180px;
  height: 330px;
  margin: 0;
  background: #fbfaf5;
  text-align: center;
  font-weight: 500;
  position: relative;
  }

  .trend-8-box img {
    width: 100%;
  }
}