@media (max-width: 767px) {
  /* 標籤列---------------- */
  .head-nav {
    display: none;
  }

  .media-category {
    display: inline-block;
    position: absolute;
    top: 100px;
    left: -130px;
    background: white;
    width: 300px;
    height: 100vh;
  }

  .media-category a {
    text-decoration: none;
    color: #626262;
    cursor: pointer;
  }
  
  .media-category li {
    padding: 16px;
  }

  .media-category>li>a {
    color: black;
  }

  .fa-times {
    font-size: 24px;
    position: absolute;
    right: 0;
  }

/* -------------------------------------------- */
  .head{
    justify-content: center;
  }

  .head-icon a {
    position: absolute;
    font-size: 35px;
    top: 50%;
    transform: translateY(-50%);
    right: -90px;
  }

  .head-icon a:first-child {
    display: inline-block;
    left: -70px;
  }

  .head-icon a:nth-child(2) {
    left: 0px;
  }

  .head-icon a:nth-child(3) {
    right: -30px;
  }

  .slide-img img {
    width: 100%;
  }

  /* 5個圓圈------------------------------------ */
  .five-circle {
    margin-top: 50px;
  }

  .circle {
    margin:0 30px;
  }
  .circle img {
    width: 185px;
  }

  .sm-container {
    height: 400px;
    overflow: hidden;
  }

  /* about us ---------------------------------- */
  .about-us {
    margin-top: 0px;
  }

  .about-container {
    flex-direction: column;
  }

  .about-pic {
    order: 1;
  }

  .about-pic img {
    width: 100%;
  }

  .black1 {
    display: none;
  }

  .about-text {
    order: 2;
    width: 100%;
    text-align: center;
  }

  .about-4term {
    order: 3;
    justify-content: center;
  }
  
  .smog-term {
    margin-right: 50px;
    display: inline-block;
  }

  .smog-term:nth-child(2),
  .smog-term:nth-child(4) {
    margin-right: 0;
  }

  /* trending products---------------------- */
  .trending-products ul li{
    display: block;
  }

  .trend-hover-btn {
    display: flex;
    top: 200px;
  }

  .trend-btn{
    margin-left: 5px;
  }

  .trend-8-box {
    width: 180px;
  height: 330px;
  margin: 0;
  background: #fbfaf5;
  text-align: center;
  font-weight: 500;
  position: relative;
  }

  .trend-8-box img {
    width: 100%;
  }

  .trend-8-box:nth-child(1),
  .trend-8-box:nth-child(5) {
    margin-left: 0;
  }

  /* 藍綠廣告 */
  .bl-gr-container {
    display: block;
  }

  .bl-gr-box {
    width: 100%;
    margin: 0 ;
  }

  .bl-gr-box_pet-food {
    background: url(../image/topbanner-1.png) no-repeat center center/100%;
  }

  .bl-gr-box_chew-food {
    background: url(../image/topbanner-2.png) no-repeat center center/100%;
  }

  .bl-gr-text h2 {
    font-size: 2rem;
  }

  .bl-gr-text span {
    bottom: 40px;
  }

  /* want a pet for your loved ones */
  .want_a_pet-banner {
    background: url(../image/parallax.png) fixed center/400%;
  /* width: 100%;
  height: 70%; */
  margin-top: 40px;
  }
  .want_a_pet-text {
    text-align: center;
    margin-right: 20px;
  }

  /* from our blog */
  .blog-container {
    width: 100%;
    overflow-x: hidden;
  }
  
  .blog_pk_yl {
    flex-shrink: 0;
    display: inline-block;
    margin: 10px 0px;
  }

  .blog_pk_yl-pic {
    margin: 20px;
  }
  /* time---------------------------------------- */
  .time-banner {
    height: 95%;
  }

  .time-container {
    display: inline-block;
    top: 30%;
  }

  .time-text {
    margin: 50px 30px 30px 30px;
    text-align: center;
  }

  .time-text  ul {
    justify-content: center;
  }

  .time-pic {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .time-pic img {
    width: 370px;
  }

  .time-pic img:nth-child(2) {
    left: 52px;
  }

  .time-hover-btn {
    justify-content: center;
  }

  .time-left-right-btn input:first-child {
    position: absolute;
    margin-top: 20px;
    top: 680px;
    left: 190px;
  }
  
  .time-left-right-btn input{
    position: absolute;
    margin-top: 20px;
    top: 680px;
    right: 190px;
    transform: translateY(-50%);
  }

  /* client------------------------------------------ */
  .client-container {
    display: inline-block;
  }

  .client-pic {
    display: flex;
    justify-content: center;
    margin-right: 0;
  }

  .client-pic::before {
    right: 120px;
  }

  .client-text {
    text-align: center;
  }

  .client-text h1 {
    margin-top: 50px;
  }

  /* logo---------------------------------------------------- */
  .logo-container {
    overflow-x: hidden;
  }

  .logo {
    margin-right: 50px;
  }
 
  .logo img {
    width: 130px;
  }

  /* footer-search-------------------------------------------- */
  .footer-container {
    display: inline-block;
  }

  .footer-search-bg {
    height: 254px;
  }

  .footer-text {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 80px;
  }

  .footer-icon {
    margin-top: 20px;
  }

  .footer-search .btn-sub {
    display: none;
  }

  .footer-search .btn-go {
    display: inline-block;
    color: white;
    width: 50px;
    height: 35px;
    border: none;
    border-radius: 20px;
    background-color: #f0a83e;
    font-size: .7rem;
    line-height: 35px;
    font-weight: 600;
    cursor: pointer;
    transition: .5s;
    position: absolute;
    right: 50%;
    top: -120%;
    transform: translateX(50%);
  }

  .footer-search .btn-go:hover {
    background-color: #3c2313;
  }

  /* footer-nav */
  .footer-nav-container {
    display: inline-block;
  }

  .footer-nav-bg {
    height: 693px;
  }

  .footer-nav-list, .footer-nav-3col {
    display: inline-block;
  }

  .footer-nav-3col .line::before, .footer-nav-3col .line::after {
    display: none;
  }

  .footer-nav-icon i {
    margin-left: 0;
  }

  .footer-nav-list_pic {
    text-align: center;
    margin-top: 20px;
    width: 100%;
  }

  .footer-nav-info {
    margin-top: 0px;
  }

  .footer-nav-3row {
    margin: 0 20px;
  }

  .footer-nav-info-txt h2 {
    display: none;
  }

  /* jq---------------------------------------------- */
  #account,#products,#company {
    pointer-events: all;
  }

  #info {
    display: inline-block;
    color: white;
    padding: 10px;
    margin-bottom: 10px;
  }

  .jq-account, .jq-products, .jq-company, .footer-nav-3row {
    display: none;
  }

  .footer-nav-icon, .footer-nav-info-txt {
    display: inline-block;
  }

  div {
    vertical-align: middle;
  }
}